<br>
<br>
<h1>Hello and welcome! Please log in or sign up to get started.</h1>
<br>
<br>
<h2><%= link_to 'Blog', posts_path %></h2>
<h2><%= link_to 'Local Events', calendar_path %></h2>
<h2><%= link_to 'Clients', clients_path %></h2>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="span9"></div>
    <div class="span3">
      <div class="well">
        <h2>What Are Your Goals?</h2>
        Are you ready to start living your better life? We're here to help you! Through this site you can create an
        account to identify your specific healthy-living goals (and calculate how to reach them), browse healthy
        recipes, get tips for further reading, find out about local fitness-related events in your area, and book an
        appointment with Phil to jumpstart your new healthy life. We're committed to helping you every step of the
        way, so please contact us with any questions or comments you have. Thanks for stopping by--now let's get
        started!
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
