<h1>Hello and welcome!  Please log in or sign up below.</h1>
  <br>
  <br>
<h2><%= link_to 'Log In', login_path %></h2>
  <h2><%= link_to 'Sign Up', 'users/signup' %></h2>
    <h2><%= link_to 'Blog', posts_path %></h2>
      <h2><%= link_to 'Local Events', calendar_path %></h2>
