<div class="page-header">
  <%= link_to resources_path, :class => 'btn btn-info' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Add Resource</h1>
</div>

<%= render 'form' %>
