<h1 align="left">About Phil and Jude</h1>
<br>
<%= image_tag('jude_and_phil.jpg') %>
<br>
<br>
<h4 align="left">
  Phil Worthington and Judith Barrett grew up together in Colorado Springs, Colorado, in the foothills of the Rocky Mountains. The beautiful outdoor setting laid the foundation for a healthy, active lifestyle that they've pursued in their different ways, both together and apart.
  They've remained close friends over the years, even as their lives have taken them both near and far apart--from Montreal to Cairo to London to Florence, Italy. They trained for and ran their first joint race in the autumn of 2013 and are looking forward to running their first marathon together in the spring of 2015.
  These days Phil lives and works in Monterey, California. He has a Master's degree from the Monterey Language Institute and is considering pursuing another degree, this time in nutrition science. He's an avid reader and finds ample inspiration for long runs in the beautiful bay coastline near his home.
  Jude has a dual background in art history and web development. She recently relocated to Colorado from Washington, DC and is delighted to have the chance to run Colorado's incomparable trails once again. In her spare time, she loves to read, travel, and cook.
</h4>
